// section 3 about data cast
section.section-datacast
  .datacast-div
    h3.h3 DataCast
    p.paragraph
      | Lorem Ipsum passages, and more recently with desktop publishing
      | software like Aldus PageMaker including versions of Lorem Ipsum. Lorem
      | Ipsum passages, and more recently with desktop publishing software
      | like Aldus PageMaker including versions of Lorem Ipsum
// section 4 my history
section.history-section
  div
    div
      p.year2018 2018
      p.p-historysec Started working in Tech
    div
      p.year2017 2017
      p.p-historysec Started working in Tech
    div
      p.year2016 2016
      p.p-historysec Started working in Tech
