
section.section-hero
  .firstbox-flex
    .content-div
      h1.h1 HELLO WORLD
      p.intro-text
        | My is Jakub Turner, 
        br
        |             I am a technology enthusiast and a junior programmer. Currently, I
        |             work remotly world-wide.
      h4.h4 Follow me
      a.link(href='https://www.linkedin.com/in/jakubturner/')
        | LinkedIN
      a.link(href='https://github.com/jakubturner') Github
      a.link(href='https://open.spotify.com/show/4q8grhnk3Th0DS4KZV7ODW?si=lsEi8Re4SQG4AijJU_HH1g') My Podcast
    .image-div
      img.profile-pic(src='/images/profilepic.jpeg')
