section.section-projects
  div 2020
  .firstbox-flex
    .portfolio-content
      h2.h2 Projects
      h3.h3 Portfolio
      p.paragraph
        | Lorem Ipsum passages, and more recently with desktop publishing
        | software like Aldus PageMaker including versions of Lorem Ipsum.
      h3.h3 Portfolio
      p.paragraph
        | Lorem Ipsum passages, and more recently with desktop publishing
        | software like Aldus PageMaker including versions of Lorem Ipsum.
    .about-me
      h2.h2 About me
      p.paragraph
        | Lorem Ipsum passages, and more recently with desktop publishing
        | software like Aldus PageMaker including versions of Lorem Ipsum.
        | Lorem Ipsum passages, and more recently with desktop publishing
        | software like Aldus PageMaker including versions of Lorem Ipsum
